.rules dl {
    /* color: white; */
    margin: 1.0em 1em;
}

.rules dt{
    text-decoration: underline;
    font-size: 2em;
}
.rules dd{
    padding: 0.5em 0.5em;
    margin-left: 1em;
    font-size: 1.5em;
}

.interno {
    margin: 0.5em 1em;
}

.mg-left {
    margin-left: 2em;
}

.mg-top-bottom {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}